@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.nav-container {
    display: flex;
    flex-direction: row;
}

#sitesearch {
    width: 250px !important;
    position: relative;
    right: 0;
}

#brand{
    font-size: 48px;
}

#home-link{


}

.nav-container{
  font-family: 'Inconsolata', monospace;
}

