@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

div {
    background-image: url("./../../assets/images/southwest.jpeg");
    background-size: cover;
    height: 100vh;
}

p {
    font-family: 'Inconsolata', monospace;
    font-size: 72px;
    padding-left: 600px;
    padding-top: 20px;
    color: #8f836d;
}
