<div class="whole-page">
    <div class="sidebar">
        <div *ngFor="let city of cities; index as i">
            <!-- <p>{{cities[i].name}}</p><br> -->
            <a routerLink="/cities/{{cities[i].id}}">{{cities[i].name}}</a><br>
        </div>
    </div>

    <div class="city-detail">
            <span>
                <img src={{city.photo}} >
                {{city.name}}
            </span>
            
            <div class="posts">
                <p>I'm some posts</p>
            </div>
    </div>
</div>



<!-- <app-city-details></app-city-details>
<app-sidebar></app-sidebar> -->
