@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.whole-page {
    display: grid;
    grid-template-columns: 2;
    font-family: 'Inconsolata', monospace;
}

.sidebar {
    grid-column: 1;
}

.city-detail {
    grid-column: 2;
    grid-template-rows: 2;
}

.posts {
    grid-row: 2;
}

img {
    width: 200px;
}

.city-header{

  font-size: 50px;
  height: 400px;
  align-items: center;


}
.city-name{
  align-items: center;
  padding-bottom: 20px;
}
