<div class="whole-page">
  <div class="sidebar">
      <div *ngFor="let city of cities; index as i">
          <!-- <p>{{cities[i].name}}</p><br> -->
          <a class="sidebar-link" routerLink="/cities/{{cities[i].id}}">{{cities[i].name}}</a><br>
      </div>
  </div>


    <div class="city-detail">
            <span class="city-header">
                <span class="city-name">{{city.name | uppercase}}</span>
                <img src={{city.photo}} >
            </span>

            <div class="posts">
                <!-- <app-posts></app-posts> -->
                <p routerLink="/cities/1/posts/1">{{cities[0].posts[0].title}}</p>
                <p>{{cities[0].posts[0].date}}</p>

                <button (click)="toggleShow()" type="checkbox" >Show More</button>

                <div *ngIf="isShown" class="row container-fluid"  id="divshow" >
                    <p>{{cities[0].posts[0].author}}</p>
                    <p>{{cities[0].posts[0].text}}</p>
                </div>
            </div>
    </div>
</div>

<router-outlet></router-outlet>
