.whole-page {
    display: grid;
    grid-template-columns: 2;
}

.sidebar {
    grid-column: 1;
}

.city-detail {
    grid-column: 2;
    grid-template-rows: 2;
}

.posts {
    grid-row: 2;
}

img {
    width: 200px;
}