<div class="whole-page">
    <div class="sidebar">
        <div *ngFor="let city of cities; index as i">
            <p>{{cities[i].name}}</p><br>
        </div>
    </div>
    
    <div class="city-detail" *ngIf="router.url==='/cities/{{city.id}}'" >
            <div>{{city.photo}}</div>
            <p>{{city.name}}</p>
            <div class="posts">
                <p>I'm some posts</p>
            </div>
    </div>


</div>



<!-- <app-city-details></app-city-details>
<app-sidebar></app-sidebar> -->