@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.whole-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Inconsolata', monospace;
}

.sidebar {
    grid-column: 1;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 30px;
}

a {
    padding-top: 30px;
}

.city-detail {
    grid-column: 2;

    display:flex;
    align-items: right;
    justify-content: right;
}

.posts {
    grid-row: 4;
}

img {
    width: 300px;
    padding-left: 50px;
}

.city-header{
  font-size: 100px;
  padding-top: 30px;
}
.city-name{
  align-items: center;
  padding-bottom: 20px;
}
